* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Container-Menu {
    width: 100%;
    padding: 20px;
}

.Container-Menu h1 {
    margin-bottom: 20px;
    text-align: center;
}

.Oferts {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
    overflow-x: scroll;
    gap: 20px;
    width: 100%;
    padding-bottom: 20px;
} 

.producto-card{
    min-width: 300px !important;
    width: 300px !important;
    flex-shrink: 0 !important;
    height: auto;
    border: 1px solid #c00a0a;
    border-radius: 8px;
    padding: 15px;
    position: relative !important;
    float: none !important;
    display: block !important;
    background: rgb(193, 193, 193) !important;
}

.producto-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.producto-card h2 {
    margin-bottom: 10px;
}

.producto-card p {
    margin-bottom: 5px;
}

.producto-card img {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
}

.producto-card .precio {
    font-weight: bold;
    color: #000000;
}

.producto-card .categoria {
    color: #000000;
}

